:root{    
    --fonts--body-font: var(--fonts--primary-font-family);
    --color--black: #000;
    --fonts--heading-font: var(--fonts--primary-font-family);
    --color--blue-500\<deleted\|variable-ebe93488-89c6-a5cd-d5e1-dded8473b4b5\>: #038ff7;
    --color--clay-black\<deleted\|variable-26800bf5\>: var(--color--black);
    --archive--medium-purple\<deleted\|variable-7fcb262b\>: #9170e6;
    --color--white: white;
    --archive--slate-grey\<deleted\|variable-1ed44f93\>: #676d7e;
    --archive--alice-blue\<deleted\|variable-4b33b3bb\>: #f3f7fe;
    --white\<deleted\|variable-d7626ba4\>: white;
    --black-2\<deleted\|variable-1be39b01\>: black;
    --archive--medium-sea-green\<deleted\|variable-a7582730\>: #27b871;
    --archive--border\<deleted\|variable-8c681385\>: #0259a71f;
    --archive--light-grey\<deleted\|variable-be33659a\>: #cdd0d8;
    --archive--light-grey-2\<deleted\|variable-5b817cc3\>: #cbcbcb;
    --archive--slate-blue\<deleted\|variable-231aa278\>: #8956be;
    --archive--lime-green\<deleted\|variable-14ae8b6e\>: #1dad2c;
    --archive--crimson\<deleted\|variable-76fa0a65\>: #c33652;
    --archive--dodger-blue\<deleted\|variable-7713e009\>: #028ff7;
    --archive--dark-grey\<deleted\|variable-eb42266a\>: #a0a0a0;
    --archive--slate-grey-4\<deleted\|variable-1e932acf\>: #676d7e;
    --sea-green\<deleted\|variable-79b3c756\>: #0a9e5c;
    --dodger-blue-2\<deleted\|variable-890ee2be\>: #2599fe;
    --archive--gainsboro\<deleted\|variable-91e80472\>: #d9d9d9;
    --archive--white-smoke-2\<deleted\|variable-3334573e\>: #f9f9f9;
    --gainsboro-2\<deleted\|variable-a811882e\>: #e7e8ec;
    --dark-grey-2\<deleted\|variable-ad1cd049\>: #a2a8b7;
    --alice-blue-3\<deleted\|variable-e6a32bfc\>: #eef4ff;
    --white-5\<deleted\|variable-7319a1f8\>: #f9fcfe;
    --ghost-white-6\<deleted\|variable-fdf30455\>: #f4f7fd;
    --medium-purple-3\<deleted\|variable-b73ea94f\>: #aa70e6;
    --archive--medium-purple-2\<deleted\|variable-17516af6\>: #aa70e6;
    --goldenrod-2\<deleted\|variable-82208560\>: #dfac47;
    --crimson-2\<deleted\|variable-76373772\>: #cc3c58;
    --black\<deleted\|variable-fca35b56\>: #1d2026;
    --color--oat-600: #9f9b93;
    --color--grey-600: #717989;
    --color--oat-800: #55534e;
    --color--grey-200: #e6e8ec;
    --color--grey-50: #f7f8f9;
    --ai-prompt\<deleted\|variable-f52417cc-ea4f-7be2-bcd6-776bf4bb8737\>: #f5ebfd;
    --home-purple\<deleted\|variable-66db8f19-b37c-a6b7-0e8c-6fd64a059414\>: #aa70e6;
    --archive--lavender\<deleted\|variable-4e5c1203\>: #dee9ff;
    --spacing--2rem: 2rem;
    --color--oat-300: #eee9df;
    --color--matcha-100: #dbffe0;
    --color--matcha-900: #03331d;
    --spacing--1-5rem: 1.5rem;
    --color--blueberry-300: #83c4ff;
    --color--blueberry-200: #bee0ff;
    --color--blueberry-700: #0053b5;
    --color--blueberry-900: #002f67;
    --color--ube-300: #c1b0ff;
    --color--ube-200: #d8d0ff;
    --color--ube-700: #5c15cc;
    --color--grey-border: var(--color--grey-200);
    --color--grey-100: #eff1f3;
    --color--blueberry-400: #4ca8fd;
    --color--blueberry-600: #0667d9;
    --color--blueberry-100: #d7ebfe;
    --color--lemon-100: #fff8d2;
    --color--matcha-300: #84e7a5;
    --color--matcha-200: #bcf4ca;
    --color--green-600\<deleted\|variable-1be72259-5255-72a7-9424-f413d6a9c046\>: #047e4a;
    --color--ube-400: #a789fe;
    --color--lemon-300: #fadf7c;
    --color--lemon-900: #7f500a;
    --color--oat-900: #363430;
    --color--matcha-700: #02693e;
    --color--matcha-600: #078a52;
    --color--ube-100: #e9e4ff;
    --color--lemon-700: #d08a11;
    --color--tangarine-600: #fa6900;
    --color--dragonfruit-500: #ff7ad5;
    --color--matcha-400: #3ece82;
    --color--lemon-500: #fbbd41;
    --color--lemon-600: #fdad15;
    --color--grey-700: #525a69;
    --radius--small: .5rem;
    --color--grey-text\<deleted\|variable-bdfc79ce-a57b-b9d2-dea3-af712daf556d\>: #434346;
    --spacing--0-875rem: .875rem;
    --spacing--0-5rem: .5rem;
    --spacing--1rem: 1rem;
    --color--oat-200: #f3f2ed;
    --color--oat-400: #dad4c8;
    --color--ube-600: #7934f0;
    --color--lemon-200: #fef0a4;
    --spacing--4rem: 4rem;
    --spacing--2-5rem: 2.5rem;
    --spacing--3rem: 3rem;
    --color--ube-500: #8b5cf6;
    --spacing--5rem: 5rem;
    --color--grey-300: #d6d9df;
    --color--oat-100: #f9f8f6;
    --spacing--0-25rem: .25rem;
    --color--blue-600\<deleted\|variable-5d7df98e-e058-e930-d30e-7da43ef1b2c3\>: #0667d9;
    --spacing--6rem: 6rem;
    --layout--section-padding-lg: var(--spacing--6rem);
    --layout--section-padding-md: var(--spacing--4rem);
    --layout--section-padding-sm: var(--spacing--3rem);
    --spacing--8rem: 8rem;
    --spacing--7rem: 7rem;
    --color--lemon-400: #f8cc65;
    --layout--section-padding-xs: var(--spacing--3rem);
    --layout--section-padding-xl: var(--spacing--8rem);
    --layout--row-col-gap: 2rem;
    --color--grey-500: #979da9;
    --color--grey-800: #3c414d;
    --color--grey-medium\<deleted\|variable-8c6b4a1d-24b1-aa41-3363-37e53d4709f8\>: #a2a8b7;
    --form--gap: var(--spacing--1-5rem);
    --color--matcha-500: #0dac65;
    --radius--medium: 1.5rem;
    --spacing--0-75rem: .75rem;
    --fonts--secondary-font-family: "Canela Web", sans-serif;
    --spacing--1-25rem: 1.25rem;
    --color--dragonfruit-900: #8b045c;
    --color--pomegranate-700: #b21a3f;
    --color--orange-600\<deleted\|variable-52138038-78de-e2e6-b88b-93510d04c0d6\>: #ff6b00;
    --color--dragonfruit-400: #ff99df;
    --color--blueberry-500: #0382f7;
    --color--oat-50: white;
    --pricing-table--border-color: white;
    --color--grey-400: #bfc4cd;
    --color--blueberry-800: #01418d;
    --color--grey-950: #16181f;
    --color--dragonfruit-100: #ffe5f7;
    --color--ube-800: #43089f;
    --color--dragonfruit-200: #ffd1f1;
    --color--dragonfruit-700: #f90ba6;
    --color--blueberry-950: #001e4b;
    --color--dragonfruit-600: #ff52c2;
    --color--ube-50: #f5f3ff;
    --radius--large: 2.5rem;
    --spacing--4-5rem: 4.5rem;
    --color--oat-500: white;
    --color--grey-900: #282c35;
    --color--blueberry-50: #ecf6ff;
    --color--lemon-800: #9d6a09;
    --color--tangarine-700: #c34e1b;
    --color--oat-700: #85817a;
    --color--oat-950: #1b1a18;
    --color--pomegranate-500: #e94d68;
    --fonts--primary-font-family: Roobert, sans-serif;
    --fonts--body-font-family: Inter, sans-serif;
    --heading-h0--font-size-lg: 0px;
    --heading-h0--font-size-md: 0px;
    --heading-h0--font-size-sm: 0px;
    --heading-h0--font-size-xs: 0px;
    --heading-h0--line-height: 0px;
    --heading-h0--letter-spacing: 0px;
    --heading-h0--font-weight: 0px;
    --heading-–-h1--font-size-lg: 0px;
    --heading-–-h1--font-size-md: 0px;
    --heading-–-h1--font-size-sm: 0px;
    --heading-–-h1--font-size-xs: 0px;
    --heading-–-h1--line-height: 0px;
    --heading-–-h1--letter-spacing: 0px;
    --heading-–-h1--font-weight: 0px;
    --heading-–-h2--font-size-lg: 0px;
    --heading-–-h2--font-size-md: 0px;
    --heading-–-h2--font-size-sm: 0px;
    --heading-–-h2--font-size-xs: 0px;
    --heading-–-h2--line-height: 0px;
    --heading-–-h2--letter-spacing: 0px;
    --heading-–-h2--font-weight: 0px;
    --heading-–-h3--font-size-lg: 0px;
    --heading-–-h3--font-size-md: 0px;
    --heading-–-h3--font-size-sm: 0px;
    --heading-–-h3--font-size-xs: 0px;
    --heading-–-h3--line-height: 0px;
    --heading-–-h3--letter-spacing: 0px;
    --heading-–-h3--font-weight: 0px;
    --heading-–-h4--font-size-lg: 0px;
    --heading-–-h4--font-size-md: 0px;
    --heading-–-h4--font-size-sm: 0px;
    --heading-–-h4--font-size-xs: 0px;
    --heading-–-h4--line-height: 0px;
    --heading-–-h4--letter-spacing: 0px;
    --heading-–-h4--font-weight: 0px;
    --navbar--min-height: var(--spacing--4rem);
    --spacing--1-75rem: 1.75rem;
    --spacing--11rem: 11rem;
}