/*----VARS----*/

// spacing

// border

// font size
$font-large: 19.2px;
$font-medium-large: 18px;
$font-medium: 16px;
$font-small-medium: 15.21px;
$font-small: 14px;
$font-extra-small: 13.2px;
$font-extra-extra-small: 13px;
$font-extra-small2: 12px;

// font weight
$font-weight-low: 200;
$font-weight-mid: 500;
$font-weight-high: 800;

// colors
$gray-bg-color: black;
$primary-color: rgb(8, 148, 214);
$secondary-color: rgb(255, 179, 10);
$tertiary-color: red;

// fonts

// border size

/*----UNIVERSAL----*/
* {
    padding: 0px;
    margin: 0px;
}

/*----body----*/
body {
    font-family: "Ubuntu Condensed", sans-serif;
}

