body { 
    padding: 0; 
    margin: 0
}

* {
    box-sizing: border-box;
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr 1fr;
    border: 2px solid #555;
    padding: 8px;
    min-height: 100vh;
    row-gap: 16px;
    column-gap: 4px;
}

header {
    border: 2px solid #dd0808;
    background-color: #ff6666;
    grid-column-end: span 2;
}

aside {
    border: 2px solid #0ba7c6;
    background-color: #74ddf2;
}

main {
    border: 2px solid #6f09e5;
    background-color: #b880f7;
}

footer {
    border: 2px solid #c4be0d;
    background-color: #f7f380;
    grid-column-end: span 2;
}

/*only absolute value for row-gap and column gap*/

/*----two column layout----*/
.two-column-layout-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.left-column {
    border: 2px solid #6f09e5;
    background-color: #b880f7;
}

.right-column {
    border: 2px solid #020202;
    background-color: #aaa;
}

/*----split screen layout----*/
.split-screen-layout-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
}

.split-left-column {
    border: 2px solid #6f09e5;
    background-color: #b880f7;
}

.split-right-column {
    border: 2px solid #020202;
    background-color: #aaa;
}

/*----asymmetrical screen layout----*/
.asl-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
}

.asl-left-part{
    display: grid;
    grid-template-rows: 5fr 1fr;
    height: 100%;
}

.asl-left-top{
    border: 2px solid #6f09e5;
    background-color: #3c0081;
}

.asl-left-bottom{
    border: 2px solid #6f09e5;
    background-color: #f0e3ff;
}

.asl-right-part{
    border: 2px solid #020202;
    background-color: #aaa;
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100%;
}

.asl-right-top {
    border: 2px solid #c4be0d;
    background-color: #59581d;
}

.asl-right-bottom {
    border: 2px solid #c4be0d;
    background-color: #f7f380;
}

/*----asl #2----*/
.asl-container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    min-height: 100vh;
}

.asl2-left-column {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

.alc-1 {
    border: 2px solid #c4be0d;
    background-color: #59581d;
}

.alc-2 {
    border: 2px solid #c4be0d;
    background-color: #fffc4f;
}

.alc-3 {
    border: 2px solid #c4be0d;
    background-color: #403f00;
}

.asl2-right-column {
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
}

.arc-1 {
    border: 2px solid #c4be0d;
    background-color: #ff4646;
}

.arc-2 {
    border: 2px solid #c4be0d;
    background-color: #4a0c0c;
}

.arc-3 {
    border: 2px solid #c4be0d;
    background-color: #bb0000;
}

/*----F-Shape Layout----*/
.f-layout-section {
    display: grid;
    grid-template-rows: 1fr 8fr;
    min-height: 100vh;
}

.f-layout-header {
    border: 2px solid #c4be0d;
    background-color: #e5ff00;
}

.f-layout-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.f-layout-content-article {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
}

.flc-article-1 {
    border: 2px solid #c4be0d;
    background-color: #1f1e3a;
}

.flc-article-2 {
    border: 2px solid #c4be0d;
    background-color: #0e16ff;
}

.f-layout-content-aside {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
}

.flc-aside-1 {
    border: 2px solid #c4be0d;
    background-color: #ff3434;
}

.flc-aside-2 {
    border: 2px solid #c4be0d;
    background-color: #ff12b4;
}

/*----Z-Shape Layout----*/
.z-layout-section {
    display: grid;
    grid-template-rows: 1fr 9fr;
    min-height: 100vh;
}

.zl-navbar {
    background-color: #6f09e5;
}

.zl-hero {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

.zl-hero-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.zl-hero-content {
    background-color: #ed000093;
}

.zl-hero-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.zl-left-button {
    background-color: #670a0a93;
}

.zl-right-button {
    background-color: #ff444493;
}

.zl-hero-leftbar {
    background-color: #183800;
}


