/*------------------------DOCUMNETATION------------------------*/

/*----COLORS----*/

/*----FONT----*/

/*----FONT-SIZING----*/

/*----SPACING----*/

/*----RADIUS----*/

/*---------------------------GLOBAL---------------------------*/
:root {
    /*font-family*/
    --font-family-main: 'eina';
    
    /*font-size*/
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.4rem;
    --h3-font-size: 1.3rem;
    --p-font-size: 1rem;
    --heading-1: 3rem;
    --heading-2: 2.25rem;
    --heading-3: 1.875rem;
    --heading-4: 1.5rem;
    --text-large: 1.25rem;
    --text-body: 1rem;
    --text-md: 1rem;
    --text-small: 0.875rem;
    --text-eyebrow: 0.875rem;

    /*font-weight*/
    --h1-font-weight: 800;
    --h2-font-weight: 700;
    --h3-font-weight: 600;
    --font-regular: 400;
    --p-font-weight: 300;
    --thin-font-weight: 200;

    /*colors*/
    --teal-950: #002f2c;
    --teal-900: #034f4c;
    --teal-800: #045d59;
    --teal-700: #06746d;
    --teal-600: #12a695;
    --teal-500: #15c6b3;
    --teal-400: #18e2cc;
    --teal-300: #4dead5;
    --teal-200: #95f9ea;
    --teal-100: #c9fcf4;
    --teal-50: #e5fffa;
    --lime-950: #131b00;
    --lime-900: #333b12;
    --lime-800: #48541d;
    --lime-700: #546123;
    --lime-600: #7c8d35;
    --lime-500: #90b607;
    --lime-400: #a7d308;
    --lime-300: #b9de26;
    --lime-200: #d7ec83;
    --lime-100: #e6f6b1;
    --lime-50: #f3fbdf;
    --green-950: #0c3000;
    --green-900: #204e03;
    --green-800: #316600;
    --green-700: #408500;
    --green-600: #51a800;
    --green-500: #5ec200;
    --green-400: #79ce17;
    --green-300: #96e421;
    --green-200: #c2f28c;
    --green-100: #dbf7ba;
    --green-50: #f0fde8;
    --yellow-950: #461600;
    --yellow-900: #643602;
    --yellow-800: #814f03;
    --yellow-700: #986b00;
    --yellow-600: #d69c00;
    --yellow-500: #fab500;
    --yellow-400: #ffc600;
    --yellow-300: #ffd659;
    --yellow-200: #ffe185;
    --yellow-100: #ffedad;
    --yellow-50: #fef7e1;
    --orange-950: #421200;
    --orange-900: #6b2b00;
    --orange-800: #973602;
    --orange-700: #b13d02;
    --orange-600: #dc5004;
    --orange-500: #fa7414;
    --orange-400: #fb8f37;
    --orange-300: #fbb06f;
    --orange-200: #fdd4b5;
    --orange-100: #fee7d2;
    --orange-50: #fff5eb;
    --red-950: #470001;
    --red-900: #ad0003;
    --red-800: #d60004;
    --red-700: #f00000;
    --red-600: #ff1f1f;
    --red-500: #ff4747;
    --red-400: #ff8585;
    --red-300: #ffa8a8;
    --red-200: #fcc;
    --red-100: #ffdbdb;
    --red-50: #fef0f0;
    --pink-950: #3e052c;
    --pink-900: #7b0957;
    --pink-800: #a60c76;
    --pink-700: #c10f89;
    --pink-600: #d9169b;
    --pink-500: #eb3db3;
    --pink-400: #f679d1;
    --pink-300: #f7a1d0;
    --pink-200: #f9cceb;
    --pink-100: #fbddf1;
    --pink-50: #fdedf8;
    --purple-950: #21043e;
    --purple-900: #4f0a94;
    --purple-800: #5e0daf;
    --purple-700: #7711de;
    --purple-600: #8a25ee;
    --purple-500: #9c46f1;
    --purple-400: #bc80f9;
    --purple-300: #ccacfc;
    --purple-200: #e2d1fd;
    --purple-100: #eee5fe;
    --purple-50: #f6f1fe;
    --blue-950: #001f42;
    --blue-900: #004390;
    --blue-800: #084e9f;
    --blue-700: #0565c6;
    --blue-600: #0071e1;
    --blue-500: #2693ff;
    --blue-400: #68b4ff;
    --blue-300: #94c7fa;
    --blue-200: #cce4fc;
    --blue-100: #e2effd;
    --blue-50: #f1f8fe;
    --midnight-999: #030817;
    --midnight-900: #000c2c;
    --midnight-800: #2b334a;
    --midnight-700: #5f677b;
    --midnight-600: #7e8494;
    --midnight-500: #9da1ae;
    --midnight-400: #b3b7c1;
    --midnight-300: #cdcfd5;
    --midnight-200: #e0e2e5;
    --midnight-100: #ebecef;
    --midnight-50: #fafafb;
    --white: #fff;

    /*color order*/
    --fg-primary: var(--midnight-900);
    --fg-secondary: var(--midnight-700);
    --fg-tertiary: var(--midnight-600);
    --fg-brand-primary: var(--blue-600);
    --fg-brand-secondary: var(--blue-500);
    --fg-error: var(--red-700);
    --fg-warning: var(--yellow-600);
    --fg-success: var(--green-600);
    --fg-discovery: var(--purple-600);
    --fg-upgrade: var(--yellow-500);
    --fg-disabled: var(--midnight-400);
    --fg-white: var(--white);
    --bg-primary: var(--white);
    --bg-primary-hover: var(--midnight-50);
    --bg-secondary: var(--midnight-50);
    --bg-secondary-hover: var(--midnight-100);
    --bg-tertiary: var(--midnight-100);
    --bg-active: var(--blue-50);
    --bg-overlay: var(--midnight-800);
    --bg-brand: var(--blue-600);
    --bg-brand-hover: var(--blue-700);
    --bg-brand-active: var(--blue-800);
    --bg-brand-subtle: var(--blue-50);
    --bg-brand-subtle-active: var(--blue-100);
    --bg-error: var(--red-50);
    --bg-warning: var(--yellow-50);
    --bg-success: var(--green-50);
    --bg-discovery: var(--purple-50);
    --bg-disabled: var(--midnight-200);
    --bg-promotion: var(--yellow-400);
    --bg-promotion-hover: var(--yellow-500);
    --bg-promotion-active: var(--yellow-600);
    --border-primary: var(--midnight-300);
    --border-primary-hover: var(--midnight-500);
    --border-secondary: var(--midnight-200);
    --border-active: var(--blue-500);
    --border-focus: var(--blue-300);
    --border-brand: var(--blue-600);
    --border-error: var(--red-700);
    --border-warning: var(--yellow-600);
    --border-success: var(--green-600);
    --border-discovery: var(--purple-600);
    --border-upgrade: var(--yellow-500);
    --text-primary: var(--midnight-900);
    --text-secondary: var(--midnight-800);
    --text-secondary-hover: var(--midnight-900);
    --text-tertiary: var(--midnight-700);
    --text-tertiary-hover: var(--midnight-800);
    --text-white: var(--white);
    --text-disabled: var(--midnight-600);
    --text-placeholder: var(--midnight-600);
    --text-brand: var(--blue-700);
    --text-error: var(--red-700);
    --text-warning: var(--yellow-700);
    --text-success: var(--green-700);
    --text-discovery: var(--purple-700);

    /*opacity*/
    --tw-bg-opacity: 1;

    /*border radius*/
    --radius-xxs: 2px;
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;
    --radius-xl: 32px;
    --radius-full: 100%;
    --radius-checkbox: 6px;

    /*spacing*/
    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 12px;
    --spacing-lg: 16px;
    --spacing-xl: 20px;
    --spacing-2xl: 24px;
    --spacing-3xl: 32px;
    --spacing-4xl: 40px;
    --spacing-5xl: 48px;
    --spacing-6xl: 64px;
    --spacing-7xl: 80px;
    --spacing-8xl: 120px;
    --spacing-9xl: 180px;
    --spacing-10xl: 260px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'eina', sans-serif;
}

/*--------------------------COMPONENT-------------------------*/

/*----REUSABLE----*/
.flex-rcc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-ccc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border-radius-lg {
    border-radius: var(--radius-lg);
}

.border-radius-md {
    border-radius: var(--radius-md);
}

.border-radius-sm {
    border-radius: var(--radius-sm);
}

/*----BUTTON----*/
.button-primary {
    border: 0px var(--bg-brand) solid;
    border-radius: var(--radius-md);
    background-color: var(--bg-brand);
    color: white;
    font-size: var(--text-small);
    font-weight: var(--h2-font-weight);
    text-decoration: none;
    transition: background-color 0.1s ease-in;
    padding: var(--spacing-sm) var(--spacing-3xl);
    border-radius: var(--radius-sm);
}

.button-primary:hover {
    background-color: var(--bg-brand-hover);
    transition: background-color 0.1s ease-in;
}

.button-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px var(--bg-brand) solid;
    border-radius: var(--radius-md);
    background-color: transparent;
    color: var(--bg-brand);
    font-size: var(--text-small);
    font-weight: var(--h2-font-weight);
    text-decoration: none;
    line-height: 1;
    letter-spacing: 1;
    padding-right: 12px;
    padding-left: 12px;
    height: 48px;
    transition: background-color 0.1s ease-in;
}

.button-secondary:hover {
    background-color: var(--bg-secondary-hover);
    transition: background-color 0.1s ease-in;
}

/*----ANCHOR----*/
.anchor {
    text-decoration: none;
    font-size: var(--text-body);
    font-weight: var(--p-font-weight);
    color: var(--fg-secondary);
}

.anchor:hover {
    text-decoration: none;
    color: white;
}

/*----LOGO----*/
.logo-navbar {
    width: 150px;
    height: 88px;
}

/*---------------------------SECTION--------------------------*/

/*----HEADER----*/

/*----NAVBAR----*/
.navbar {
    position: sticky;
    top: 0px;
}

.white-navbar {
    background-color: white;
    min-height: 20px;
    position: sticky;
    top: 0px;
    left: 0px;
}

.navbar-container {
    background-color: var(--bg-primary-hover);
    border-radius: var(--radius-lg);
    margin-right: var(--spacing-md);
    margin-left: var(--spacing-md);
}

.navbar-container-max-width-max-height {
    max-width: 1180px;
    height: 104px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-navbar {
    gap: 16px;
}

.button-navbar {
}

.anchor-navbar {
    font-weight: var(--h2-font-weight);
    margin-right: var(--spacing-3xl);
}

.anchor-container {
    width: 100%;
}

@media (max-width: 1000px) {
    #navbar-anchor-list {
        display: none;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*----HERO----*/
.hero {
    margin-right: var(--spacing-md);
    margin-left: var(--spacing-md);
    background-color: var(--bg-secondary);
    min-height: 560px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: var(--spacing-7xl);
}

.hero-heading-container {
    margin-bottom: 30px;
    text-align: center;
    font-size: var(--heading-3);
    font-weight: var(--p-font-weight);
    line-height: 56px;
}

.hero-paragraph-container {
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--text-large);
    font-weight: 100;
    padding-bottom: var(--spacing-md);
    line-height: 28px;
}

.hero-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.018em;
    gap: 16px;
    width: 100%;
}

.hero-button {
    padding: var(--spacing-lg) var(--spacing-xl);
    border: 1px solid var(--bg-brand);
    border-radius: var(--radius-md);
}

/*----PRODUCT----*/
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(-1 * var(--spacing-8xl));
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.product-img-container {
    max-width: 1200px;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.product-img {
    width: 100%;
}

.heading-product-container {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.customer-linear-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;
    margin: 0px auto;
}

#customer-linear-list-container-990 {
    display: flex;
    flex-direction: row;
}

#customer-container-880 {
    display: none;
}

#customer-container-700 {
    display: none;
}

#customer-container-539 {
    display: none;
}

#customer-container-380 {
    display: none;
}

.img-customer {
    width: calc(100%/8);
}

#product-img-1000 {
    display: none;
}

.customer-container-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*----MEDIA QUERIES----*/
@media (max-width: 1000px) {
    #product-img-big {
        display: none;
    }

    #product-img-1000 {
        display:block;
    }
}

@media (max-width: 990px) {

    #customer-linear-list-container-990 {
        display: none;
    }

    #customer-container-700 {
        display: none;
    }

    #customer-container-880 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-customer {
        width: 100%;
    }
}

@media (max-width: 880px) {
    #customer-linear-list-container-990 {
        display: none;
    }

    #customer-container-880 {
        display: none;
    }

    #customer-container-700 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-customer {
        width: 100%;
    }
}

@media (max-width: 700px) {
    #customer-linear-list-container-990 {
        display: none;
    }

    #customer-container-880 {
        display: none;
    }

    #customer-container-700 {
        display: none;
    }

    #customer-container-539 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-customer {
        width: 100%;
    }
}

@media (max-width: 539px) {
    #customer-linear-list-container-990 {
        display: none;
    }

    #customer-container-880 {
        display: none;
    }

    #customer-container-700 {
        display: none;
    }

    #customer-container-539 {
        display: none;
    }

    #customer-container-380 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-customer {
        width: 100%;
    }
}

/*----PRODUCT-COMPONENT----*/
.productComponent {
    background-color: rgb(250 250 251)
}

.productComponent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 64px;
    margin: 0px auto;
}

.productComponentHeader-container {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.productComponentImg-container {
    max-width: 970px;
}

.productComponent-img{
    width: 100%;
}

/*----FEATURE-SECTION----*/
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: var(--spacing-7xl);
    margin-right: var(--spacing-2xl);
    margin-left: var(--spacing-2xl);
}

.feature-header {
    font-size: var(--heading-2);
    font-weight: 600;
}

.feature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1180px;
    margin: 0px auto;
    padding-top: var(--spacing-5xl);
    gap: var(--spacing-8xl);
    /* background-color: #000c2c; */
}

.feature-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
}

.feature-label {
    color: var(--bg-brand);
    font-size: var(--text-small);
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: var(--spacing-xl);
}

.feature-title {
    font-weight: 600;
    font-size: var(--heading-3);
    padding-bottom: var(--spacing-2xl);
}

.color-pink-700 {
    color: var(--pink-700);
}

.feature-description {
    font-weight: 100;
    padding-bottom: var(--spacing-2xl);
    line-height: var(--spacing-2xl);
}

.max-width-60 {
    max-width: 60%;
    margin-right: auto;
}

.max-width-70 {
    max-width: 70%;
    margin-right: auto;
}

.max-width-80 {
    max-width: 80%;
    margin-right: auto;
}

.max-width-85 {
    max-width: 85%;
    margin-right: auto;
}

.max-width-90 {
    max-width: 90%;
    margin-right: auto;
}

.feature-button {
    width: fit-content;
}

.feature-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.feature-img {
    width: 100%;
}

/*----COMPONENT-SECTION----*/
.component {
    background-color: white;
    padding: 12px;
    margin: 0px auto;
}

.component-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    padding-top: var(--spacing-8xl);
    padding-bottom: var(--spacing-xl);
    background-color: var(--bg-primary-hover);
}

.component-header {
    font-size: var(--heading-2);
    text-align: center;
}

.component-container {
    max-width: 960px;
    margin: 0px auto;
    margin-top: var(--spacing-5xl);
}

.component-button-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-3xl);
    padding: 0px var(--spacing-lg);
}

.component-button {
    font-size: var(--text-body);
    font-weight: 600;
    border: none;
    background-color: transparent;
    padding: 16px 0px;
    border-bottom: var(--radius-xs) solid var(--bg-brand);
}

.component-illustration-container {
    width: 100%;
    background-color: white;
    margin-top: var(--spacing-2xl);
    border-radius: var(--radius-md);
    margin-bottom: 100px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.component-illustration-1-wrapper {
    background-color: var(--bg-brand);
    padding-bottom: 3px;
    border-radius: var(--radius-md);
}

.component-illustration-1 {
    width: 100%;
    display: flex;
    background-color: var(--bg-primary-hover);
    flex-direction: row;
    border-radius: var(--radius-md);
    box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.57);
}

.component-illustration-1-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
    padding: var(--spacing-2xl) var(--spacing-4xl);
    background-color: var(--bg-active);
    width: 40%;
    gap: var(--spacing-2xl);
    padding-bottom: var(--spacing-6xl);
    padding-top: var(--spacing-6xl);
    border-top-left-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-md);
}

.component-illustration-1-content {
    width: 60%;
    padding-top: var(--spacing-6xl);
}

.component-illustration-1-content-img-container {
    margin: 0px auto;
    margin-bottom: var(--spacing-xl);
}

.component-illustration-1-sidebar-title {
    font-weight: var(--h3-font-weight);
}

.component-illustration-1-content-des-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--spacing-4xl);
    padding-left: var(--spacing-4xl);
}

.ci1cdl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-2xl);
}

.black-border-1-px-solid {
    border: black 1px solid;
}

.component-illustration-1-sidebar-button{}

#product-1:hover ~ .component-illustration-1-wrapper #product-1 {
    display: block;
}

@media (max-width: 700px) {
    .component-illustration-1 {
        flex-direction: column;
        box-shadow: none;
        padding: 10px;
    }
    
    .component-illustration-1-sidebar {
        width: 100%;
    }

    .component-illustration-1-content {
        width: 100%;
    }

    .component-illustration-1-sidebar-button {
        width: 100%;
    }

    .component-illustration-1-content {
        padding-bottom: var(--spacing-4xl);
    }

    .component-illustration-container {
        box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.57);
        margin-top: var(--spacing-2xl);
    }
}

/*----CTA-SECTION----*/
.cta {
}

.cta-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-active);
    gap: var(--spacing-2xl);
    max-width: 1180px;
    border-radius: var(--radius-lg);
    padding: var(--spacing-7xl) var(--spacing-2xl);
    margin: 0px auto;
    margin-top: var(--spacing-4xl);
    margin-bottom: var(--spacing-4xl);
}

.left-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2xl);
}

.cta-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cta-card {
    width: 100%;
}

.cta-card-description {
    font-size: var(--heading-4);
    font-weight: 400;
    line-height: var(--spacing-3xl);
}

.right-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--spacing-2xl);
}

.underline-text {
    border-bottom: var(--bg-brand) 4px solid;
}

.up-right-cta {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: var(--spacing-xl);
    width: 100%;
}

.cta-mail-input {
    border: none;
    width: max-content;
    border: var(--bg-brand-hover) 1px solid;
    border-radius: var(--radius-md);
    height: 48px;
    width: 100%;
}

.cta-mail-input::placeholder {
    padding: var(--spacing-2xl);
    padding-left: -12px;
    font-size: var(--text-body);
    letter-spacing: 10;
}

.cta-button {
    font-weight: 500;
    padding: var(--spacing-md) var(--spacing-md);
    font-size: var(--text-body);
    height: 48px;
}

.down-right-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
}

.cta-checkbox-description {
    font-weight: 100;
}

.cta-checkbox {
    width: 32px;
    height: 32px;
}

/*----FOOTER----*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-6xl);
    max-width: 1180px;
    padding: var(--spacing-4xl) var(--spacing-5xl);
    margin: var(--spacing-7xl) auto;
}

.footer-sub {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: start;
    gap: var(--spacing-7xl);
    width: 50%;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--spacing-lg);
    width: 50%;
}

.footer-anchor {
    font-size: var(--text-small);
    font-weight: 100;
}

.footer-anchor-bold {
    font-weight: 500;
    color: var(--fg-primary);
    font-size: 1.175rem;
}

/*----COPYRIGHT----*/
.copyright {
    background-color: white;
    margin: 0 auto;
}

.copyright-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(5 105 255/var(--tw-bg-opacity));
    margin-top: var(--spacing-6xl);
    margin-bottom: var(--spacing-6xl);
    margin-right: 12px;
    margin-left: 12px;
    border-radius: var(--radius-lg);
    padding-top: var(--spacing-7xl);
    padding-bottom: var(--spacing-8xl);
}

.copyright-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1180px;
}

.copyright-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: var(--spacing-5xl);
    gap: var(--spacing-2xl);
}

.copyright-disclaimer {
    color: white;
}

.copyright-description {
    color: hsla(0, 0%, 100%, .5);
}

.copyright-anchor-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: var(--spacing-xs);
    column-gap: var(--spacing-xl);
}

.copyright-anchor {
    color:  hsla(0, 0%, 100%, .5);
}

.copyright-social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4xl);
}

.copyright-social {
    width: 24px;
    height: 24px;
    color: white;
}